#announcement-banner{display:none;}

body.page-issue-navigator {
    background: #fff;
}

#ghx-header {margin-bottom:0;}
#ghx-header h1 {font-size: 14px;}
#ghx-header h1 > * {display: inline-block; margin: 0 10px 0 0; padding: 0; font-size: 14px;}

.ghx-issue-fields {padding-right:0 !important;}
.ghx-issue .ghx-avatar, .ghx-band-1 .ghx-issue .ghx-avatar {position: absolute;top: auto !important;bottom: 10px !important;right: 10px !important; left: auto !important;}
.ghx-issue .ghx-avatar-img {width:24px!important; height:24px!important;}

.aui-page-panel {background: none; border:none;}
#ghx-work {border-top:0}
#gh {
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2560x1707/b8c1ff0287077b14e9709d035a808625/photo-1539712495315-2bd2a5fe5bf6"); 
    background-attachment: fixed; 
    background-size: 100%;
    background-size: cover;
    background-position: 50% 100%;
}
#ghx-pool {background: transparent; padding-top: 0 !important;}
#ghx-column-header-group.ghx-fixed {background: transparent; position:static!important;}
#ghx-column-headers {padding-top: 0 !important;}
.ghx-column-headers h2 {font-weight: bold !important;}
.ghx-column-headers .ghx-column {border-bottom: 0; padding: 6px 10px 2px !important;}
.ghx-column {background: rgba(223, 227, 230, 0.5)!important; padding: 0 8px 8px!important; }
.ghx-issue {margin-top: 10px; border-radius: 3px; box-shadow: 0 1px 0 rgba(9,45,66,.25); border: 0;}
.ghx-issue.ghx-issue-subtask {margin-top: 2px; margin-left: 14px;}
.ghx-grabber {width: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
.ghx-issue-fields .ghx-summary .ghx-inner, .ghx-band-1 .ghx-issue-fields .ghx-summary .ghx-inner {line-height: 1.3; min-height: fit-content;}
.ghx-band-1 .ghx-issue-fields {margin-top:0 !important;}
.ghx-issue.ghx-selected {box-shadow: 0 10px 20px 1px rgba(0,0,0,.5); background: #fff; transform: scale(1.1); z-index: 1;}
.ghx-issue:hover, .ghx-issue.ghx-selected:hover {background: #efecfd;}
.ghx-issue .ghx-type {position:static; margin-right: 8px; opacity:0.3;}
.ghx-issue .ghx-type:hover {opacity:1;}
.ghx-key a {color: #888;}
.ghx-avatar {border-radius:3px; background: #f0f0f0;}
.ghx-issue .ghx-issue-content, .ghx-band-2 .ghx-issue .ghx-issue-content, .ghx-band-1 .ghx-issue .ghx-issue-content {padding: 10px 10px 10px 14px;}
.ghx-issue .ghx-flags {top: 10px!important; right: 10px!important; left: auto!important;}
.ghx-issue.ui-sortable-helper {cursor: -webkit-grabbing; cursor: grabbing; box-shadow: 0 12px 24px -6px rgba(9,45,66,.25), 0 0 0 1px rgba(9,45,66,.08); -webkit-transform: rotate(4deg); transform: rotate(4deg);}

.ghx-band-2 .ghx-issue .ghx-flags {top:10px; right: 10px;}
.ghx-band-1 .ghx-issue, .ghx-band-2 .ghx-issue {font-size: 14px;}
.ghx-column, .ghx-zone-overlay-column {width:266px}
.ghx-highlighted-fields .ghx-highlighted-field .aui-label {font-size: 13px !important}
.ghx-highlighted-fields {margin-top:10px!important}
.ghx-band-2 .ghx-issue-fields {margin-top:0}

.ghx-scroll-columns:not(.ghx-mode-planning) #ghx-detail-view {width:600px !important;}
.ghx-band-1 .ghx-extra-fields, .ghx-issue .ghx-extra-fields {margin-top: 6px;}

/*!* selected card *!*/
/*    background: #fff;*/
/*    box-shadow: 0px 5px 15px rgba(0,0,0,.4);*/
/*    transform: scale(1.05);*/
/*    z-index: 1;*/
/*}*/

/* стиль скролла */
#ghx-pool::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
#ghx-pool::-webkit-scrollbar-thumb {
    background-color: #555;
    border: 0 solid transparent;
    border-radius: 3px;
}

/* просмотр задачи */
.issue-view .issue-container {
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
}
.issue-header .issue-header-content>.command-bar {
    background: none;
}

.issue-view > .issue-container .issue-header, #issue-content {background: transparent;}
.issue-view .aui-page-header-image {display: none;}
.issue-view .aui-page-header-image+.aui-page-header-main {padding-left:0;}
.issue-view .aui-nav.aui-nav-breadcrumbs {font-size: 12px;}
.issue-view .aui-nav.aui-nav-breadcrumbs a {color: #aaa;}
.issue-view .aui-nav.aui-nav-breadcrumbs a:focus {outline: none;}
.issue-view #summary-val {margin:18px 0 0 0; padding: 0; font-size: 30px; display: block;}
.issue-view .issue-body-content {padding: 30px;}
.issue-view .issue-header .issue-header-content>.command-bar {padding: 20px 30px 0;}
.issue-view .issue-header .ops-cont {margin: 0;}
.issue-view .aui-toolbar2.ops-menus .aui-button {margin-top:0;}
.issue-view .issue-header .issue-header-content>.aui-page-header {padding: 20px 30px 0;}

.issue-view .issue-body-content .module .mod-content {padding-left: 0;}
.issue-view .issue-body-content .module+.module {margin-top: 40px; padding-top: 0;}

.issue-body-content .module>.mod-header {
    padding: 0;
}

.issue-view .issue-body-content .module>.mod-header>h4 {
    /*font-size: 18px;*/ 
    letter-spacing: 0;
    background: none;
}

.toggle-wrap .aui-button.toggle-title {
    top: 3px;
    left: -16px;
    opacity: .3;
}

.toggle-wrap .aui-button.toggle-title:hover {
    opacity: 1;
}

#viewissuesidebar {
    padding-left: 60px;
}

.issue-view .issue-header .ops-menus .aui-button {background: none; color: #777;}
.issue-view .issue-header .ops-menus .aui-button:hover {background: rgba(9,30,66,0.15);}

/*горизонтальный скролл картинок, чтобы текст не скроллился*/
.issue-view span.image-wrap {overflow: auto; display: block;}
.ghx-classification-column {
    background-color: rgba(255, 255, 255, 0.80);
}

#js-work-quickfilters, #js-plan-quickfilters {background-color: rgba(255, 255, 255, 0.9); padding: 3px 10px; border-radius: 4px;}
#js-work-quickfilters .ghx-quickfilter-trigger, #js-plan-quickfilters .ghx-quickfilter-trigger {top: 3px;}

#attachmentmodule .mod-content.issue-drop-zone {margin-left: 0;}

@media (prefers-color-scheme: dark) {
    body.page-issue-navigator {
        background-color: #3c3c3d;
        color: #eee;
    }
    
    body.page-issue-navigator a, 
    .aui-button.aui-button-link, 
    .aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a, 
    .aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a:link, 
    .aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a:visited,
    .aui-tabs>.tabs-menu .menu-item a, 
    .aui-tabs>.tabs-menu .menu-item a:link, 
    .aui-tabs>.tabs-menu .menu-item a:visited {
        color: #1eb6ff; /* цвет ссылки в тёмной теме */
    }
    
    .aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a::after {
        background: #1eb6ff;
    }
    
    body.page-issue-navigator .editable-field:hover {
        background: rgba(0,0,0,.2);
        box-shadow: 0 0 0 1px rgba(0,0,0,.5);
    }
    
    body.page-issue-navigator .editable-field .overlay-icon {
        border-left: 1px solid rgba(0,0,0,.5);
    }
    
    body.page-issue-navigator h1, body.page-issue-navigator h2, body.page-issue-navigator h3, body.page-issue-navigator h4 {
        color: #fff;
    }
    
    body.page-issue-navigator .preformatted, .code {
        background: #2b2b2b;
        border: 1px solid rgba(0,0,0,.5);
    }
    
    #description-val.editable-field, .editable-field .save-options {
        background: none;
    }
    
    .editable-field form.aui .field-group textarea {
        background: none;
        color: #eee;
    }
    
    .aui-icon-small::before, .aui-icon-large::before, .aui-button.aui-button-subtle {
        color: #eee;
    }
    
    .wiki-edit-toolbar {
        background: none;
    }
    
    .issue-data-block:hover, .issue-data-block.focused {
        background-color: rgba(0,0,0,.2);
    }
}
